html,
body,
#root {
	min-height: 100%;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	text-rendering: optimizelegibility !important;
	font-family: 'Roboto', sans-serif;
	background-color: var(--dark-color) !important;
}

a {
	text-decoration: none;
}

.background {
	min-height: 100vh;
	color: var(--white-color);
	background-color: var(--black-color);
	background-position: 0% 0%, 0% 0%;
	background-repeat: repeat, repeat;
	/* background-image: url("../img/blue_mountain_layers_5k-other.jpg"), none; */
	background-origin: padding-box, padding-box;
	background-clip: border-box, border-box;
	background-size: cover;
	background-attachment: fixed;
}

.content-body {
	margin-top: 64px !important;
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
}

.content {
	width: 100%;
	max-width: 70%;
	padding: 30px;
}

/* .content > div {
	grid-template-rows: 20% 20% 20%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 25% 25% 25%;
	gap: 30px;
} */

.tag-list {
	display: flex;
}

.tag:first-child {
	margin-left: 0px;
}

.tag:last-child {
	margin-right: 0px;
}

.tag {
	font-size: 12px;
	line-height: 1.5;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	background: var(--green-color);
	color: var(--black-color);
	border-radius: 4px;
	cursor: default;
	transition: all 0.3s ease 0s;
}

.normal-flex {
	display: flex;
}

.normal {
	background-color: var(--black-color);
	border-radius: 8px;
	transition: all 0.2s ease 0s;
	padding: 80px 50px;
	display: flex;
	width: 100%;
	flex-direction: column;
	-moz-box-pack: justify;
	justify-content: space-between;
	opacity: 1;
	border: 2px solid var(--black-color);
}

.normal:hover {
	border-color: var(--green-color);
	padding: 40px 50px;
}

.normal-content img {
	margin-bottom: 30px;
	max-height: 60px;
}

.normal-content h1 {
	font-size: 30px;
	font-weight: bold;
	color: var(--white-color);
	margin-bottom: 20px;
}

.normal-content span {
	display: block;
	width: 168px;
	font-size: 14px;
	margin-bottom: 20px;
	color: var(--grey-color);
	line-height: 2;
}

.button-nav {
	position: relative;
	align-self: flex-start;
	padding: 20px;
	margin: 10px;
	background-color: var(--green-color);
	color: var(--black-color) !important;
	border-radius: 4px;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	border: 2px solid var(--green-color);
}

.button-nav:hover {
	background-color: var(--black-color);
	color: var(--green-color) !important;
	font-size: 12px;
	border: 2px solid var(--green-color);
}

.mail-nav {
	font-size: 14px;
	color: var(--grey-color);
}

.navbar-line {
	border-bottom-width: 1px;
	border-bottom-color: var(--green-color);
	border-bottom-style: solid;
    background-color: var(--black-color);
}

.ol {
  margin-left: "5%";
}
